.timeline-grid-row {
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid;
    &-header {
        > :first-child {
            z-index: 8!important;

        }
        > div:not(:first-child) {
            z-index: 5!important;
            position: relative;
        }
    }
    &-dropfield {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        transition: all .2s ease;
        // &.is-over {
        //     background: rgba(red, .2);
        //     ;
        //     &.self-over {
        //         background: rgba(gray, .2);
        //         ;
        //     }
        //     &.can-drop {
        //         background: rgba(green, .2);
        //     }
        // }
    }
}